$primaryLightColor: #436C95;
$primaryColor: #0B4167;
$primaryDarkColor: #0B2E49;
$accentLightColor: #FF8780;
$accentColor: #FF5353;
$accentDarkColor: #C5112A;
$h1Color: #DEE199;
$yellowLight: #FFFFB0;
$yellow: #F8E97F;
$yellowDark: #C2B650;
$orange: #FF8153;
