@import 'colors';
@import 'fonts';

* {
	font-family: "Open Sans Condensed", Helvetica, Verdana, Arial, sans-serif;
	color: white;
}

html {
	body {
		width: 100%;
		margin: 0;
	}
}

body {
	background-color: $primaryColor;
}

a {
	color: #00bc8c;
	text-decoration: underline;
	cursor: pointer;
}

h1, h2, h3, h4, h5, h6 {
	color: $h1Color;
	text-align: center;
}
